@model List<MeyawoPortfolio.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Social media</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Social Media</th>
        <th>Social Media Link</th>
        <th>Social Media Icon</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaID</td>
            <td>@item.Title</td>
            <td>@item.SocialMediaUrl</td>
            <td>@item.Icon</td>
            <td><a href="#" class="btn btn-warning"> Edit</a></td>
            <td><a href="#" class="btn btn-danger"> Delete</a></td>
            
        </tr>

    }
</table>
<td><a href="#" class="btn btn-primary "> Add New Social Media</a></td>

