@model List<MeyawoPortfolio.Models.TblSocialMedia>

<div class="container">
    <footer class="footer">
        <p class="mb-0">
            Faruk Çelik
            <script>document.write(new Date().getFullYear())</script>  &copy;
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.facebook.com/faruk.celik.5070" class="link"><i class="ti-facebook"></i></a>
            <a href="https://twitter.com/Ahmet48Faruk" class="link"><i class="ti-twitter-alt"></i></a>
            <a href="https://www.linkedin.com/in/-faruk-celik" class="link"><i class="ti-linkedin"></i></a>
            <a href="https://www.instagram.com/faruk_celik_48/" class="link"><i class="ti-instagram"></i></a>
            <a href="https://github.com/Faruk-Celik" class="link"><i class="ti-github"></i></a>
            
        </div>
    </footer>
</div>

