@model  List<MeyawoPortfolio.Models.TblReferences>



<section class="section" id="testmonial">
    <div class="container text-center">

        <h6 class="section-title mb-6">References</h6>

        <!-- row -->

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="@item.ImageUrl" class="testimonial-card-img">
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">
                                @item.Description
                            </p>
                            <h6 class="testimonial-card-title">@item.NameSurname</h6>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div> <!-- end of container -->
</section>
