@model MeyawoPortfolio.Models.TblReferences
@{
    ViewBag.Title = "CreateReference";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Add New Reference</h2>

<form method="post">
    <label>Reference Name</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table-bordered" })
    <label>Reference Status</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "table table-bordered" })
    <label>Description</label>
    <textarea rows="5" class="table table-bordered" name="Description"></textarea>


    <button class="btn btn-info">Submit</button>
    <a href="/References/Index/" class="btn btn-outline-warning">Go Back</a>
</form>

