@model List<MeyawoPortfolio.Models.TblFuture>   
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Future Page</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Future Subject</th>
        <th>Name</th>
        <th>Future Title</th>
    </tr>
    @foreach (var item in Model)
            {
                 <tr>
                     <td>@item.FutureID </td>
                     <td>@item.Header </td>
                     <td>@item.NameSurname </td>
                     <td>@item.Title </td>
                 </tr>
            }

</table>

