@model List<MeyawoPortfolio.Models.TblProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<h2> Project List</h2>

<table class="table table-bordered">
    <tr>
        <th> Project Id</th>
        <th> Project Title</th>
        <th> Project Categories</th>
        <th> Update</th>
        <th> Delete</th>
        <th> Github Links</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.Title</td>
            <td>@item.TblCategory.CategoryName</td>
            <td><a href="/project/UpdateProject/@item.ProjectID" class="btn btn-outline-success">Update</a></td>
            <td><a href="/Project/DeleteProject/@item.ProjectID" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="@item.ProjectUrl" class="btn btn-outline-dark">Open with Github</a></td>
        </tr>
    }
</table>
<a href="/project/Createproject/" class="btn btn-primary">Add New Project</a>

