
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>New Project</h2>

<label>Project Title</label>
<input type="text" class="form-control" style="border:solid" />
<br />
<label>Project images links</label>
<input type="text" class="form-control" style="border:solid" />
<br />
<label>Github Links</label>
<input type="text" class="form-control" style="border:solid"/>
<br />
<label>Explanation</label>
<input type="text" class="form-control" style="border:solid" />
<br />

