@model List<MeyawoPortfolio.Models.TblCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Category Page</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
            {<tr>
                  <td>@item.CategoryID</td>
                  <td>@item.CategoryName</td>
                  <td> <a href="#" class="btn btn-success" >Update</a></td>
                  <td> <a href="#" class="btn btn-danger">Delete</a></td>
            </tr>           
    }

</table>
<td> <a href="#" class="btn btn-primary"> Add New Category</a></td>

