@model MeyawoPortfolio.Models.TblCategory
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<div class="text-center">
    <h2>Update Category</h2>
</div>

<head>
    <style>


        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: auto;
        }

            form label {
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
            }

            form input[type=text],
            form textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: 2px solid #ddd;
                border-radius: 4px;
                box-sizing: border-box;
            }

                form input[type=text]:focus,
                form textarea:focus {
                    border-color: #4A90E2;
                    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
                    outline: none;
                }
    </style>
</head>
<body>

    <form method="post">
        <label>Category ID</label>
        <input type="text" class="table table-bordered" readonly value="@Model.CategoryID" name="CategoryID" />
        <label>Category Name</label>
        <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
        <br />

        <button class="btn btn-info">Save Changes</button>
        <a href="/Category/Index/" class="btn btn-outline-warning">Go Back</a>

    </form>

</body>