@model List<MeyawoPortfolio.Models.TblService>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Services</h2>
<table class="table table-bordered">
    <tr>
        <th>Service ID</th>
        <th>Service Title</th>
        <th>Service Description</th>
        <th>Service Image</th>
    </tr>
    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServiceID</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.ImageUrl</td>
                </tr>
            }
</table>
