@model List<MeyawoPortfolio.Models.TblContact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Incoming Messages Page</h2>

<table class="table table-bordered">
    <tr>
        <td>Message ID</td>
        <td>Sender</td>
        <td>Categories</td>
        <td>Date</td>
        <td>Open Message</td>
        <td>Delete Message</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.MessageCategory</td>
            <td>@item.SendDate</td>
            <td ><a href="#" class="btn btn-info">Open Message</a></td>
            <td ><a href="#" class="btn btn-danger">Delete Message</a></td>
        </tr>

    }
</table>

