
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Statistics</h2>

<div class="alert alert-warning">Category Count: @ViewBag.CategoryCount</div>

<div class="alert alert-warning"> Project Count:@ViewBag.ProjectCount</div>

<div class="alert alert-warning">Message Count:@ViewBag.MessageCount</div>

<div class="alert alert-warning">Total Service Count:@ViewBag.ServiceCount</div>

<div class="alert alert-warning">Total Social Media Account Count:@ViewBag.SocialMediaCount</div>

<div class="alert alert-primary">Asp.Net Mvc Project count:@ViewBag.AspNetMvcProjectCount</div>

<div class="alert alert-primary">C# Project count:@ViewBag.CsharpProjectCount</div>

<div class="alert alert-success">Read Message Count:@ViewBag.IsNotReadMessageCount</div
>
<div class="alert alert-success">UnRead Message Count:@ViewBag.IsReadMessageCount</div>

<div class="alert alert-info">Last Added Project Name:@ViewBag.LastProjectName</div>

<div class="alert alert-info">Last Service Title Name:@ViewBag.LastServiceTitle</div>




